apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-api-starter
spec:
  template:
    spec:
      containers:
        - name: api
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 512Mi
          env:
            - name: LOG_LEVEL
              value: "info"
