apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: go-api-starter
spec:
  minReplicas: 3
  maxReplicas: 20
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
